dist: trusty
sudo: false
language: python
cache: pip
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy-5.7.1"
  - "pypy3.5-5.8.0"
install:
  - pip install tox-travis
script:
  - tox
